.learning-options-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    align-items: start;
    justify-content: start;
  }
  
  .learning-option-button {
    padding: 0.5rem;
    border-radius: 5px;
    background: #395a31;
    border: none;
    text-align: start !important;
    color: white;
  }